<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="pharm.master.cs" Inherits="Pharmacy.pharm" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<% Response.CacheControl = "no-cache"; %>
<html xmlns="http://www.w3.org/1999/xhtml" >
<head id="Head1" runat="server">
    <title>Pharmacy App</title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
    <link rel ="Stylesheet" type="text/css" href= "/css/themes/redmond/jquery-ui-1.8.16.custom.css" />
    <%--<link rel="stylesheet" type="text/css" href="/css/ui.jqgrid.css"   />--%>
    <link href="scripts/lib/jquery.jqGrid-4.4.1/css/ui.jqgrid.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/css/custom.css"   />
    
   <%-- <script type="text/javascript" src="scripts/lib/jquery-1.6.4.min.js" ></script>--%>
    <script src="scripts/lib/jquery.jqGrid-4.4.1/js/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="scripts/lib/jquery-ui-1.8.19.custom.min.js" ></script>
    <script type="text/javascript"src="scripts/lib/underscore-min.js" ></script>
    <script type="text/javascript" src="scripts/app/jquery.ColModels.js" ></script>
    <script type="text/javascript" src="scripts/app/jquery.GridOpts.js" ></script>
    <script type="text/javascript" src="scripts/app/jquery.plugins.js" ></script>
    <script type="text/javascript" src="scripts/lib/json2.js"></script>  
    <%--<script  type="text/javascript" src="scripts/lib/grid.locale-en.js"> </script>
    <script type="text/javascript" src="scripts/lib/jquery.jqGrid.min.js" ></script>--%>
    <script src="scripts/lib/jquery.jqGrid-4.4.1/js/i18n/grid.locale-en.js" type="text/javascript"></script>
    <script src="scripts/lib/jquery.jqGrid-4.4.1/js/jquery.jqGrid.src.js" type="text/javascript"></script>
        <script type="text/javascript">

            $(function () {
                var mthds = getGridOpts(), dateNow = new Date().valueOf() || Date.now();
                mthds.setDefaultGridOptions();
                $('#SiteCodes').phmPlugin('getAcData', { url: "PharmService.asmx/GetSites", complete: true, key: 'siteCodes' });
                $.ajaxSetup({ contentType: 'application/json;charset=utf-8', type: "GET", data: "{}", datatype: "json" });
                $('div[id^=Tabs]').tabs();
                $(':input[type=button]').button();
                $(':input.datepicker').datepicker().val($.formatDate(dateNow.toString(), 'MM/dd/yyyy'));
                $('#ArchQuery').change(function () {
                    switch ($(this).val()) {
                        case 'Orders':
                            $('#ArchiveTable').phmPlugin('modJqGrid', { pager: '#ArchivePager', gridOpts: mthds.archiveGridOptions, formData: $('#archiveForm') });
                            break;
                        default:
                            $('#ArchiveTable').jqGrid('GridUnload');
                    }
                });

                $('#ArchiveQuerySelect').change(function () {
                    switch ($(this).val()) {
                        case 'DateTimes%':
                            $('#ArchStatsTable').phmPlugin('modJqGrid', { pager: '#ArchStatsPager', gridOpts: mthds.timesGridOpts, formData: $('#ArchStatsForm') });
                            break;
                        case 'Data%':
                            $('#ArchStatsTable').phmPlugin('modJqGrid', { pager: '#ArchStatsPager', gridOpts: mthds.fieldsGridOpts, formData: $('#ArchStatsForm') });
                            break;
                        case 'MinMaxDates':
                            $('#ArchStatsTable').phmPlugin('modJqGrid', { pager: '#ArchStatsPager', gridOpts: mthds.archMinMaxGridOpts, formData: $('#ArchStatsForm') });
                            break;
                        case 'OrderControls':
                            $('#ArchStatsTable').phmPlugin('modJqGrid', { pager: '#ArchStatsPager', gridOpts: mthds.orderControlGridOpts, formData: $('#ArchStatsForm') });
                            break;
                        default:
                            $('#ArchStatsTable').jqGrid('GridUnload');
                    }

                });
                //Unload prescription grid whether its there or not
                $('#d-OrderSelect').change(function () {
                    $('div#DmssOrderDetails table.MMgrid').jqGrid('GridUnload');
                    switch ($(this).val()) {
                        case 'Orders-Rx':
                            $('#d-OrderTable').phmPlugin('modJqGrid', { pager: '#d-OrdersPager', gridOpts: mthds.ordersGridOpts, formData: $('#d-OrderForm') });
                            $('#d-RxTable').phmPlugin('modJqGrid', { pager: '#d-Rxpager', gridOpts: mthds.rxGridOpts, formData: $('#d-OrderForm') });
                            break;
                        case 'SiteDrugs':
                            $('#d-OrderTable').phmPlugin('modJqGrid', { pager: '#d-OrdersPager', gridOpts: mthds.siteDrugsGridOpts, formData: $('#d-OrderForm') });
                            break;
                        case 'SiteRoutes':
                            $('#d-OrderTable').phmPlugin('modJqGrid', { gridOpts: mthds.siteRoutesGridOpts, formData: $('#d-OrderForm'), pager: '#d-OrdersPager' });
                            break;
                        case 'AllSiteDrugs':
                            $('#d-OrderTable').phmPlugin('cummulativeJqGrid', { pager: '#d-OrdersPager',
                                gridOpts: mthds.allDrugsGridOpts, formData: $('#d-OrderForm'), url: "PharmService.asmx/SiteDrugs"
                            });
                            break;
                        case 'SiteDrugRoutes':
                            $('#d-OrderTable').phmPlugin('modJqGrid', { pager: '#d-OrdersPager', gridOpts: mthds.siteDrugRoutesGridOpts, formData: $('#d-OrderForm') });
                            break;
                        case 'facilitySplit':
                            $('#d-OrderTable').phmPlugin('modJqGrid', { pager: '#d-OrdersPager', gridOpts: mthds.facilitySplitGridOpts, formData: $('#d-OrderForm') });
                            break;
                        default:
                    }
                });

                $('#RxcSelect').change(function () {
                    switch ($(this).val()) {
                        case 'Components':
                            $('#RxcTable').phmPlugin('modJqGrid', { pager: '#RxcPager', gridOpts: mthds.componentsGridOpts, formData: $('#RxcForm') });
                            break;
                        case 'DistinctComponents':
                            $('#RxcTable').phmPlugin('modJqGrid', { pager: '#RxcPager', gridOpts: mthds.distinctRxcGridOpts, formData: $('#RxcForm') });
                            break;
                    }
                });
                $('#ClassSelect').change(function () {
                    switch ($(this).val()) {
                        case 'PharmacyDrugs':
                            $('#ClassTable').phmPlugin('modJqGrid', { pager: '#ClassPager', gridOpts: mthds.pharmDrugsGridOpts, formData: $('#RxcForm') });
                            $('#ClassTable').jqGrid('navButtonAdd', '#ClassPager', { caption: 'NoProfiles', title: 'Drugs with no profiles',
                                onClickButton: function () { console.log('supposed to call pharmacydrugs with no profiles yet') }
                            });
                            $('#ClassTable').phmPlugin('getAcData', { url: "PharmService.asmx/ProfilesMapValues", complete: false, key: 'TreatmentProfileName' });
                            break;
                        case 'PartialDrugs':
                            $('#ClassTable').phmPlugin('modJqGrid', { pager: '#ClassPager', gridOpts: mthds.partialDrugsGridOpts, formData: $('#RxcForm') });
                            break;
                        case 'Profiles':
                            $('#ClassTable').phmPlugin('modJqGrid', { pager: '#ClassPager', gridOpts: mthds.profilesGridOpts, formData: $('#RxcForm') });
                            break;
                        case 'Classes':
                            $('#ClassTable').phmPlugin('modJqGrid', { pager: '#ClassPager', gridOpts: mthds.classesGridOpts, formData: $('#RxcForm') });
                            break;
                        default:
                    }
                });

            });
            </script>    
</head>
<body>
<div id="content" >
<fieldset id="SiteFieldSet" >
<form id="siteForm" action="">
    <label for= "SiteCodes">SiteCode: </label>
    <input type="text" id="SiteCodes" name = "SiteCode"/>
        <label for="EnvSelect">Environment: </label>
        <select id="EnvSelect"  name="Environment">
            <option value="">Select ...</option>
            <option value="Implementation">Implementation</option>
            <option value="Production" selected="selected">Production</option>
        </select> 
</form>
    
</fieldset>
<form id= "DataSubmissionForm" method="post" action="ExcelExport.aspx" style="display:none" >
<input id="DataSubmissionText" type="text" name="SubmittedData"/>
<input id="DataSubmissionType" type="text" name="SubmittedType"/>
<input id="DataSubmissionBtn" type="submit"/>
</form>
<div id= "Tabs-DataType">
    <ul>
        <li><a href="#RawData">Raw Data</a> </li>
        <li><a href="#ArchiveData">Archive Data</a> </li>
        <li><a href="#DMSSData">Modified Data</a> </li>
        <li><a href="#Classes">Classification Data</a> </li>
        <li><a href="#AlertsReports">Alerts/Reports</a> </li> 
       
    </ul>
        <div>
        <asp:ContentPlaceHolder ID="PharmContentPlaceHolder" runat="server">
        
        </asp:ContentPlaceHolder>        
    </div>
</div>
</div>
</body>
</html>
