<?xml version="1.0"?>
<configuration>
	<configSections>
		
	</configSections>
	
	<appSettings>
		<add key="SysEnvironment" value="Production"/>
	</appSettings>
	<connectionStrings>
		<add name="ProductionClientDictionaryConnectionString" connectionString="Data Source=WIN-8K7A6DLCS1E;Initial Catalog=ClientDictionary;Integrated Security=True" providerName="System.Data.SqlClient"/>
		
		<add name="BatonRougeGeneralLA_ArchiveConnectionString" connectionString="Data Source=stageimp100;Initial Catalog=BatonRougeGeneralLA_Archive;Integrated Security=True" providerName="System.Data.SqlClient"/>
		<add name="BatonRougeGeneralLA_DMSSConnectionString" connectionString="Data Source=dmssimp100;Initial Catalog=BatonRougeGeneralLA_DMSS;Integrated Security=True" providerName="System.Data.SqlClient"/>
		<add name="CSS_PharmDataConnectionString" connectionString="Data Source=cdprod100;Initial Catalog=CSS_PharmData;Integrated Security=True" providerName="System.Data.SqlClient"/>
		<add name="ClarianHealthIN_ArchiveConnectionString" connectionString="Data Source=stageimp100;Initial Catalog=ClarianHealthIN_Archive;Integrated Security=True" providerName="System.Data.SqlClient"/>
		<add name="MappingConnectionString" connectionString="Data Source=cdprod100;Initial Catalog=Mapping;Integrated Security=True" providerName="System.Data.SqlClient"/>
		<add name="AHSHospCorpNJ_DMSSConnectionString" connectionString="Data Source=dmssimp100;Initial Catalog=AHSHospCorpNJ_DMSS;Integrated Security=True" providerName="System.Data.SqlClient"/>
		<add name="CSS_ConfigConnectionString" connectionString="Data Source=cdprod100;Initial Catalog=CSS_Config;Integrated Security=True" providerName="System.Data.SqlClient"/>
		<add name="ProductionProductionConnStringTemplate" connectionString="Data Source=DbServer;Initial Catalog=SiteCode_Db;Integrated Security=True" providerName="System.Data.SqlClient"/>
		<add name="ProductionImplementationArchiveConnStringTemplate" connectionString="Data Source=stageimp100;Initial Catalog=SiteCode_DMSS;Integrated Security=True" providerName="System.Data.SqlClient"/>
		<add name="ProductionImplementationDmssConnStringTemplate" connectionString="Data Source=dmssimp100;Initial Catalog=SiteCode_DMSS;Integrated Security=True" providerName="System.Data.SqlClient"/>
		<add name="UatProductionArchiveConnStringTemplate" connectionString="Data Source=uatdbarch01;Initial Catalog=SiteCode_DMSS;Integrated Security=True" providerName="System.Data.SqlClient"/>
		<add name="UatProductionDmssConnStringTemplate" connectionString="Data Source=uatdbdmss01;Initial Catalog=SiteCode_DMSS;Integrated Security=True" providerName="System.Data.SqlClient"/>
		<add name="UatImplementationArchiveConnStringTemplate" connectionString="Data Source=uatimpdbarch01;Initial Catalog=SiteCode_DMSS;Integrated Security=True" providerName="System.Data.SqlClient"/>
		<add name="UatImplementationDmssConnStringTemplate" connectionString="Data Source=uatimpdbdmss01;Initial Catalog=SiteCode_DMSS;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<system.web.extensions>
		<scripting>
			<webServices>
				<jsonSerialization maxJsonLength="502400000"/>
			</webServices>
		</scripting>
	</system.web.extensions>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
</configuration>
